{% extends 'usuarios/plantilla.html' %}

{% load static %}

{% block carrusel %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'usuarios/img/Carrusel/Plaza_de_Armas.jpg' %}" height="580px" alt="Primera slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'usuarios/img/Carrusel/Sacandose_Fotos.png' %}" height="580px" alt="Segunda slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'usuarios/img/Carrusel/persona_sacando_fotos.jpg' %}" height="580px" alt="Tercera slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock carrusel %}

{% block count_section %}

<section class="dashboard-counts section-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-md-4 col-6">
        <div class="wrapper count-title d-flex">
          <div class="icon"><i class="icon-user"></i></div>
            <div class="name"><strong class="text-uppercase">Nuevos Usuarios</strong><span>Ultimos 7 Dias</span>
              <div class="count-number">28</div>
      </div>
    </div>
  </div>
   
  <div class="col-xl-3 col-md-4 col-6">
    <div class="wrapper count-title d-flex">
      <div class="icon"><i class="icon-padnote"></i></div>
        <div class="name"><strong class="text-uppercase">Lugares Turisticos Registrados</strong>
          <div class="count-number">500</div>
      </div>
    </div>
  </div>
  
  <div class="col-xl-3 col-md-4 col-6">
    <div class="wrapper count-title d-flex">
      <div class="icon"><i class="icon-check"></i></div>
        <div class="name"><strong class="text-uppercase">Turismo en Santiago</strong><span>Ultimos 2 Meses</span>
          <div class="count-number">56%</div>
      </div>
    </div>
  </div>
 
  <div class="col-xl-3 col-md-4 col-6">
    <div class="wrapper count-title d-flex">
      <div class="icon"><i class="icon-bill"></i></div>
        <div class="name"><strong class="text-uppercase">Usuarios que usan Stour</strong>
          <div class="count-number">1054678</div>
      </div>
    </div>
  </div>

  </div>
</div>
</section>

{% endblock count_section %}

{% block header_section %}

<section class="dashboard-header section-padding">
  <div class="container-fluid">
    <div class="row d-flex align-items-md-stretch">
        <div class="col-xs-12 col-md-6 col-sm-4">
          <img src="{% static 'usuarios/img/Menu/usando_App.jpg' %}" alt="Aplicacion" height="200px">
        </div>
        <div class="col-xs-12 col-md-6 col-sm-4 centrado">
          <p>Stour es una aplicacion gamificada que permite a las personas competir
            por quien conoce mas lugares turisticos de Chile , para autentificar su visita 
            las personas deben escanear codigo QR.
          </p>
        </div>
    </div>
  </div>
</section>

{% endblock header_section %}

{% block recientes %}

<section class="mt-30px mb-30px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!--Noticias Recientes-->
        <div id="new-updates" class="card updates recent-updated">
          <div id="updates-header" class="card-header d-flex justify-content-between align-items-center">
            <h2 class="h5 display"><a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box">Noticias Recientes</a></h2><a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box"><i class="fa fa-angle-down"></i></a>
          </div>
          <div id="updates-box" role="tabpanel" class="collapse show">
            <ul class="news list-unstyled">
              <!--Noticia-->
              <li class="d-flex justify-content-between"> 
                  <div class="left-col d-flex">
                    <div class="icon"><i class="icon-rss-feed"></i></div>
                    <div class="title"><strong>Nuevas Misiones</strong>
                      <p>Se vienen nuevas misiones dadas las celebraciones de Navidad</p>
                    </div>
                  </div>
                  <div class="right-col text-right">
                    <div class="update-date">22<span class="month">Diciembre</span></div>
                  </div>
                </li>
                <!--Noticia-->
              <li class="d-flex justify-content-between"> 
                  <div class="left-col d-flex">
                    <div class="icon"><i class="icon-rss-feed"></i></div>
                    <div class="title"><strong>Nuevo Punto Turistico</strong>
                      <p>La iglesia de Alberto Hurtado sera agregada como nuevo punto turistico de Stour</p>
                    </div>
                  </div>
                  <div class="right-col text-right">
                    <div class="update-date">9<span class="month">Diciembre</span></div>
                  </div>
                </li>
              
                 <!--Noticia-->
                 <li class="d-flex justify-content-between"> 
                    <div class="left-col d-flex">
                      <div class="icon"><i class="icon-rss-feed"></i></div>
                      <div class="title"><strong>Actualizacion de Stour</strong>
                        <p>Se realizo una actualizacion de la aplicacion para reparar errores</p>
                      </div>
                    </div>
                    <div class="right-col text-right">
                      <div class="update-date">24<span class="month">Noviembre</span></div>
                    </div>
              
              <!--Noticia-->
              <li class="d-flex justify-content-between"> 
                <div class="left-col d-flex">
                  <div class="icon"><i class="icon-rss-feed"></i></div>
                  <div class="title"><strong>Nuevo Punto Turistico</strong>
                    <p>El Eurocentro fue agregado como nuevo punto turistico de Stour</p>
                  </div>
                </div>
                <div class="right-col text-right">
                  <div class="update-date">16<span class="month">Noviembre</span></div>
                </div>
              </li>
           
                <!--Noticia-->
              <li class="d-flex justify-content-between"> 
                  <div class="left-col d-flex">
                    <div class="icon"><i class="icon-rss-feed"></i></div>
                    <div class="title"><strong>Nuevo Punto Turistico</strong>
                      <p>El Estadio Santa Laura fue agregado como nuevo punto turistico de Stour</p>
                    </div>
                  </div>
                  <div class="right-col text-right">
                    <div class="update-date">10<span class="month">Noviembre</span></div>
                  </div>
                </li>
              </li>
            </ul>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>

{% endblock recientes %}

