{% extends 'usuarios/plantilla.html' %}

{% load static %}

{% block cambio %}

<div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Modificar Perfil</li>
      </ul>
    </div>
  </div>

<section class="charts body-login">
    <div class="col-lg-12 col-md-12">
        <div class="container-fluid pa">
            <header> 
                <h1 class="h3 display">Modificar Contraseña</h1>
            </header>
            <div class="login-page">
                <div class="container col-xs-12 "  >
                    <div class="text-center align-items-center ">
                        <div class="form-inner col-xs-12 ">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div >
                                        <div align="center" class="form-control-success">   
                                            {% if errors %}
                                            <p>{{ errors }}</p>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <form  method="POST" class="text-left form-validate">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        
                                        <div class="form-group-material">
                                            {{ field }}
                                            <label class="label-material" for="{{ field.name }}">{{ field.label }}</label>
                                        </div>
                                        {% endfor %}
                                            <br>
                                            <div align="center"> 
                                                <div class="form-group text-center"><button class="btn btn-primary">Cambiar Contraseña</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>   

{% endblock cambio %}
  