{% extends 'usuarios/plantilla.html' %}
{% load static %}

{% block perfil %}

<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
      <li class="breadcrumb-item active">Perfil</li>
    </ul>
  </div>
</div>

<section class="forms">
  <div class="container-fluid">
  <!-- Page Header-->
        <header> 
          <h1 class="h3 display">Información Personal</h1>
        </header>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="card">
                <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label class="col-sm-2">Nombre de usuario</label>
                        <div class="col-sm-10">
                          <input id="inputHorizontalSuccess" type="text" placeholder=" {{ user.username }}" readonly="readonly" class="form-control form-control-success">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2">Correo electronico</label>
                          <div class="col-sm-10">
                            <input id="inputHorizontalSuccess" type="email" placeholder="{{ user.email }}" readonly="readonly" class="form-control form-control-success">
                          </div>
                        </div>
                      <div class="form-group row">
                        <label class="col-sm-2">Rut</label>
                          <div class="col-sm-10">
                            <input id="inputHorizontalSuccess" type="email" placeholder="{{ user.rut_usuario }}" readonly="readonly" class="form-control form-control-success">
                          </div>
                      </div> 
                      <div class="form-group row">
                        <label class="col-sm-2">Estrellas Obtenidas</label>
                        <div class="col-sm-10">
                          <input id="inputHorizontalSuccess" type="text" placeholder="{{ user.cant_estrellas }}" readonly="readonly" class="form-control form-control-success">
                        </div>
                      </div> 
                    <div class="form-group row">
                      <label class="col-sm-2">Lugares Recorridos</label>
                      <div class="col-sm-10">
                        <input id="inputHorizontalSuccess" type="text" placeholder="{{ user.cant_lugares }}" readonly="readonly" class="form-control form-control-success">
                      </div>
                    </div> 
                  </div>
                </form>
              </div>
            </div>
          </div>                
        </div>
   
          {% endblock perfil %}