<!DOCTYPE html>
<html lang="es-cl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu Principal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% load static %}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'usuarios/vendor/bootstrap/css/bootstrap.css' %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static 'usuarios/vendor/font-awesome/css/font-awesome.css' %}">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="{% static 'usuarios/css/fontastic.css' %}">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="{% static 'usuarios/css/grasp_mobile_progress_circle-1.0.0.min.css' %}">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="{% static 'usuarios/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'usuarios/css/style.default.css' %}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static 'usuarios/img/favicon.ico' %}">
  </head>
  <body>
    
    <!--Barra de Navegacion Lateral -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!--Header-->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!--Informacion del Usuario-->
          <div class="sidenav-header-inner text-center"><img src="{% static 'usuarios/img/Personas/Juan_Perez.jpg' %}" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">{{user.username}}</h2>
            
            <p>{{user.cant_estrellas}}&#10025;<!--<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="1px">--></p>
          </div>
        </div>
        <!--Menus de la Barra de Navegacion Lateral-->
        <div class="main-menu">
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="{% url 'home' %}"> <img src="https://img.icons8.com/dusk/30/000000/home.png"> &nbsp Inicio</a></li>
            <li><a href="{% url 'perfil' %}"> <img src="https://img.icons8.com/dusk/30/000000/name.png"> &nbsp Perfil</a></li>
            <li><a href="{% url 'modificar' %}"> <img src="https://img.icons8.com/dusk/30/000000/password1.png"> &nbsp Modificar Perfil</a></li>
            <li><a href="{% url 'misiones' %}"> <img src="https://img.icons8.com/dusk/30/000000/bulleted-list.png"> &nbsp Misiones</a></li>
            <li><a href="{% url 'ranking' %}"> <img src="https://img.icons8.com/dusk/30/000000/leaderboard.png"> &nbsp Ranking</a></li>
            <li><a href="{% url 'premios' %}"> <img src="https://img.icons8.com/dusk/30/000000/prize.png"> &nbsp Premios</a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <img src="https://img.icons8.com/dusk/30/000000/monument.png"> &nbsp Lugares</a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                  <li><a href="{% url 'lugaresrecorridos' %}">Lugares Recorridos</a></li>
                  <li><a href="{% url 'lugarespendientes' %}">Lugares Pendientes</a></li>
              </ul>
            </li>
    </nav>

    <div class="page">
      <!--Barra de Navegacion Superior-->
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="{% url 'home' %}" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">Stour</strong></div></a></div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!--Cerrar Sesion-->
                <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link logout"> <span class="d-none d-sm-inline-block">Cerrar Sesion</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--Carrusel de Imagenes-->
    
      {% block carrusel %}

      {% endblock carrusel %}

      <!-- Counts Section -->

      {% block count_section  %}
            
      {% endblock count_section %}

      <!-- Header Section-->

      {% block header_section %}

      {% endblock header_section %}

      <!--Seccion de Recientes-->
      
      {% block recientes %}

      {% endblock recientes %}

      <!--Perfil-->

      {% block perfil %}

      {% endblock perfil %}

      <!--Cambio de Perfil-->

      {% block cambio %}

      {% endblock cambio %}

      <!--Ranking-->

      {% block ranking %}

      {% endblock ranking %}

      <!--Premios-->

      {% block premios %}

      {% endblock premios %}

      <!--Lugares Pendientes-->

      {% block lugarespendientes %}

      {% endblock lugarespendientes %}

      <!--Lugares Recorridos-->

      {% block lugaresrecorridos %}

      {% endblock lugaresrecorridos %}

      <!--Misiones-->

      {% block misiones %}

      {% endblock misiones %}

       <!--Footer--> 

      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-6 text right">
              <p>Stour&copy; Septiembre 2019</p>
            </div>
            <div class="col-xs-12 col-md-6 text-right">
              <p>Diseñada por Daniel Mella y Gaston Yañez</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- JavaScript files-->
    <script src="{% static 'usuarios/js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'usuarios/js/bootstrap.js' %}"></script>
    <script src="{% static 'usuarios/vendor/popper.js/umd/popper.min.js' %}"></script>
    <script src="{% static 'usuarios/js/grasp_mobile_progress_circle-1.0.0.min.js' %}"></script>
    <script src="{% static 'usuarios/vendor/jquery.cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'usuarios/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'usuarios/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'usuarios/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'usuarios/js/charts-custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- Main File-->
    <script src="{% static 'usuarios/js/front.js' %}"></script>
    <script src="{% static 'usuarios/js/app.js' %}"></script>

  </body>
</html>