{% extends 'usuarios/plantilla.html' %}
{% load static %}

{% block ranking %}
{% block contenido2 %}
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Ranking</li>
          </ul>
        </div>
      </div>
      <section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header>
              <h1 class="h3 display">Ranking</h1>
              
          </header>  
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover centrado line" >
                      <thead>
                        <tr>
                          <th>Posicion</th>
                          <th>Recompensa</th>
                          <th>Nombre de Usuario</th>
                          <th>Lugares</th>
                        </tr>
                      </thead>
                      <tbody >
                        {% for a in datos2 %}
                        <tr>
                          <th scope="row">
                          {{forloop.counter}}
                            <td class="line">
                            {% if forloop.counter == 1 %}
                              +100 &nbsp <img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px">
                            {% endif %}
                            {% if forloop.counter == 2 %}
                              +60 &nbsp <img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px">
                            {% endif %}
                            {% if forloop.counter == 3 %}
                              +30 &nbsp <img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px">
                            {% endif %}
                          </td>
                          </th>
                          <td>{{ a.username }}</td>
                          <td>{{ a.cant_lugares }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock contenido2 %}    
{% endblock ranking %}