<!DOCTYPE html>
<html lang="es-cl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% load static %}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'usuarios/vendor/bootstrap/css/bootstrap.css' %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static 'usuarios/vendor/font-awesome/css/font-awesome.css' %}">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="{% static 'usuarios/css/fontastic.css' %}">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="{% static 'usuarios/css/grasp_mobile_progress_circle-1.0.0.min.css' %}">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="{% static 'usuarios/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'usuarios/css/style.default.css' %}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static 'usuarios/img/favicon.ico' %}">
  </head>
  <body>
    <div class="page login-page">
      <div class="container col-xs-12">
        <div class="form-outer text-center align-items-center">
          <div class="form-inner col-xs-12">
            <div class="logo text-uppercase"><strong class="text-color">STOUR</strong></div>
            <form method="POST" class="text-left form-validate">
              {% csrf_token %}
              <table class="form-group-material">
                  {{ reg_form.as_p }}
              </table>
              <div>
                <div class="form-group text-center"><button class="btn btn-primary">Registrarse</button></div>
              </div>
              </form>
            </form><small>¿Ya tienes una cuenta en Stour? </small><a href="{% url 'login' %}" class="signup">Ingresar</a>
          </div>
          <div class="copyrights text-center">
            <p>Stour Diseñada por Daniel Mella y Gaston Yañez</p>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
   <script src="{% static 'usuarios/js/jquery-3.4.1.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="{% static 'usuarios/js/bootstrap.js' %}"></script>
   <script src="{% static 'usuarios/vendor/popper.js/umd/popper.min.js' %}"></script>
   <script src="{% static 'usuarios/js/grasp_mobile_progress_circle-1.0.0.min.js' %}"></script>
   <script src="{% static 'usuarios/vendor/jquery.cookie/jquery.cookie.js' %}"></script>
   <script src="{% static 'usuarios/vendor/chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'usuarios/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
   <script src="{% static 'usuarios/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'usuarios/vendor/js/charts-custom.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
   <!-- Main File-->
   <script src="{% static 'usuarios/js/front.js' %}"></script>
   <script src="{% static 'usuarios/js/app.js' %}"></script>
  </body>
</html>