{% extends 'usuarios/plantilla.html' %}

{% load static %}
  
{% block misiones %}
{% block contenido %}
<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Ranking</li>
      </ul>
    </div>
  </div>
  <section>
    <div class="container-fluid">
      <!-- Page Header-->
      <header> 
          <h1 class="h3 display">Misiones</h1>
      </header>
      {% if errors %}
        <p>{{ errors }}</p>
      {% endif %}
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Fecha Limite</th>
                      <th>Estrellas</th>
                      <th>Descripcion</th>
                      <th>Foto</th>
                      <th>Estado Solicitud</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for a in datos %}  
                    <tr>
                      <th scope="row">{{ a.fecha_hora_limite }}</th>
                      <td>{{ a.cant_estrellas }} <img src="{% static 'usuarios/img/estrella.jpg' %}" alt="" height="30px"></td>
                      <td>{{ a.descripcion_mision }}</td>
                      <td>
                        <form action="{% url 'misiones2' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <p>
                            <input id="id_image" type="file" class="" name="image">
                            <input type="hidden" value="{{ a.id_mision }}" name="idmision">
                        </p>
                        <input type="submit" value="Enviar Foto"/>
                        </form>
                      </td>
                      <td>{{ a.estado_mision }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock contenido %}
{% endblock misiones %}