.ranking1{
    background-color : yellow;
}

.ranking2{
    background-color: silver;
}

.ranking3{
    background-color: coral;
}

.rankingactual{
    background-color: greenyellow;
}

.centrado{
    text-align: center;
    padding-top: 0%;
    padding-bottom : 0%;
}

.fondo-registro1{
    background-color: rgb(34, 32, 32);  
}

.fondo-registro2{
    background-color: rgb(251, 255, 0);
}

.fondo-registro3{
    background-color: rgb(67, 109, 226);
}

.fondo-login1{
    background-color: rgb(23, 74, 168);
}

.fondo-login2{
    background-color: gold;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.img-margin-top{
    margin-top: 10px;
}

.btn-foto{
    color :rgb(35,97,146) ;
    background-color: transparent;
    background-image: none;
    border-color: black;
}

.btn-recompensa{
    color : #33b35a;
    background-color: transparent;
    background-image: none;
    border-color: black;
}

.text-color{
    color: rgb(45,200,77);
}

