{% extends 'usuarios/plantilla.html' %}

{% load static %}

{% block lugaresrecorridos %}
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item">Lugares</li>
          </ul>
        </div>
      </div>
      <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
              <h1 class="h3 display">Lugares Recorridos</h1>
          </header>
          <div class="col-lg-12 col-md-12">
            <!--Lugares Recorridos-->
      </section>
{% endblock lugaresrecorridos %}      
     