{% extends 'usuarios/plantilla.html' %}

{% load static %}

{% block lugarespendientes %}
{% block contenido %}
<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Lugares Pendientes</li>
      </ul>
    </div>
  </div>
  <section>
    <div class="container-fluid">
      <!-- Page Header-->
      <header> 
        <h1 class="h3 display">Lugares Pendientes</h1>
      </header>
      {% if errors %}
        <p>{{ errors }}</p>
      {% endif %}
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Estrellas</th>
                      <th>Descripcion</th>
                      <th>Foto</th>
                      <th>Estado Visita</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for a in datos4 %}  
                    <tr>
                      <th scope="row">1<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></th>
                      <td>{{ a.nombre_lugar }}</td>
                      <td>
                          <form action="{% url 'lugarespendientes2' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <p>
                                <input id="id_image" type="file" class="" name="image">
                                <input type="hidden" value="{{ a.id_lugar }}" name="idlugar">
                            </p>
                            <input type="submit" value="Enviar Foto" />
                        </form>
                      </td>
                      <td>{{ a.estado_lugar }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock contenido %}
{% endblock lugarespendientes %}