{% extends 'usuarios/plantilla.html' %}

{% load static %}

{% block premios %}
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item">Premios</li>
          </ul>
        </div>
      </div>
      <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <div class="col-lg-12 col-md-12">
            <!--Lista de Premios-->
            <header> 
                <h1 class="h3 display">Premios</h1>
            </header>
            <div class="card updates activities">
              <div class="container-fluid main">
                <div class="row">
                  <div class="col-xs-12">
                    {% for a in datos3 %}
                    <a>
                      {% ifequal a.nombre_premio 'Linterna'  %}
                      <img src="{% static 'premios/premios/linterna.jpg' %}" class="img-fluid img-margin-top" alt="" height="60px" width="300px" srcset="">
                      <p class="text-center">{{ a.nombre_premio }}</p> 
                      <h2 class="text-center">{{ a.cant_estrellas }}<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></h2>
                      <button type="button" style="margin-left: 30%"   class="btn btn-recompensa text-center">Pedir Premio</button>
                      {% endifequal %}

                      {% ifequal a.nombre_premio 'Bicicleta' %}
                      <img src="{% static 'premios/premios/bicicleta.jpg' %}" class="img-fluid img-margin-top" alt="" height="60px" width="300px" srcset="">
                      <p class="text-center">{{ a.nombre_premio }}</p> 
                      <h2 class="text-center">{{ a.cant_estrellas }}<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></h2>
                      <button type="button" style="margin-left: 30%"   class="btn btn-recompensa text-center">Pedir Premio</button>
                      {% endifequal %}

                      {% ifequal a.nombre_premio '4 Entradas al Cine' %}
                      <img src="{% static 'premios/premios/entrada_al_cine.jpg' %}" class="img-fluid img-margin-top" alt="" height="60px" width="300px" srcset="">
                      <p class="text-center">{{ a.nombre_premio }}</p> 
                      <h2 class="text-center">{{ a.cant_estrellas }}<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></h2>
                      <button type="button" style="margin-left: 30%"   class="btn btn-recompensa text-center">Pedir Premio</button>
                      {% endifequal %}

                      {% ifequal a.nombre_premio 'Zapatillas' %}
                      <img src="{% static 'premios/premios/zapatillas.jpg' %}" class="img-fluid img-margin-top" alt="" height="60px" width="300px" srcset="">
                      <p class="text-center">{{ a.nombre_premio }}</p> 
                      <h2 class="text-center">{{ a.cant_estrellas }}<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></h2>
                      <button type="button" style="margin-left: 30%"   class="btn btn-recompensa text-center">Pedir Premio</button>
                      {% endifequal %}

                      {% ifequal a.nombre_premio 'Peluche Estrella' %}
                      <img src="{% static 'premios/premios/peluche_estrella.jpg' %}" class="img-fluid img-margin-top" alt="" height="60px" width="300px" srcset="">
                      <p class="text-center">{{ a.nombre_premio }}</p> 
                      <h2 class="text-center">{{ a.cant_estrellas }}<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></h2>
                      <button type="button" style="margin-left: 30%"   class="btn btn-recompensa text-center">Pedir Premio</button>
                      {% endifequal %}

                      {% ifequal a.nombre_premio 'Cupon Pedro Juan Diego' %}
                      <img src="{% static 'premios/premios/Cupon_PJD.jpg' %}" class="img-fluid img-margin-top" alt="" height="60px" width="300px" srcset="">
                      <p class="text-center">{{ a.nombre_premio }}</p> 
                      <h2 class="text-center">{{ a.cant_estrellas }}<img src="{% static 'usuarios/img/estrella.jpg' %}" alt="estrella" height="30px"></h2>
                      <button type="button" style="margin-left: 30%"   class="btn btn-recompensa text-center">Pedir Premio</button>
                      {% endifequal %}
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
{% endblock premios %}